/*----- index.html-----*/

:root {
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: yellowgreen;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*=====HEADER====*/

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.web-logo {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.mail-link.current {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/*=====END HEADER====*/

/*=====HERO====*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-btn {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/*=====END HERO====*/

/*===ADVANTAGES===*/

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

/*===END ADVANTAGES===*/

/*===SERVICES===*/

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

/*===END SERVICES===*/

/*===OUR TEAM===*/

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}
/*===END OUR TEAM===*/

/*===FOOTER===*/

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/*===END FOOTER===*/

/*-----END index.html-----*/

/*-----portfolio html-----*/

/*=====HERO====*/

.modal-btn-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.modal-btn-portfolio.current {
  color: #ffffff;
  background-color: var(--accent-color);
}

.hero-images-portfolio {
  width: 370px;
  height: 294px;
}

.hero-images-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.hero-images-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*=====END HERO====*/

/*===FOOTER===*/

/*===END FOOTER===*/

/*-----END portfolio html-----*/
